WebServiceClient/Service References/WebService_Employee/employeeWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webService/" targetNamespace="http://webService/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="aaa" type="tns:aaa" />
  <xs:element name="aaaResponse" type="tns:aaaResponse" />
  <xs:element name="getEmployeeInfoByID" type="tns:getEmployeeInfoByID" />
  <xs:element name="getEmployeeInfoByIDResponse" type="tns:getEmployeeInfoByIDResponse" />
  <xs:complexType name="aaa">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="aaaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEmployeeInfoByID">
    <xs:sequence>
      <xs:element minOccurs="0" name="employee_id" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEmployeeInfoByIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>